<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hr.blackbox">

    <uses-permission
        android:name="android.permission.GET_ACCOUNTS"
        android:maxSdkVersion="22" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application>

        <activity android:name=".ui.ExceptionListActivity"/>
        <receiver android:name=".listeners.ActionsBroadcastListener" />
    </application>
</manifest>